.navigation__links {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0 0 0 40px;
}

@media screen and (max-width: 1024px) {
    .navigation__links {
        margin: 0 0 0 24px;
    }
}

@media screen and (max-width: 550px) {
    .navigation__links {
        margin: 0 0 0 16px;
    }
}