.card__photo {
  width: 400px;
}

@media screen and (max-width: 1024px) {
  .card__photo {
    width: 224px;
    height: 150px;
  }
}

@media screen and (max-width: 550px) {
  .card__photo {
    width: 288px;
  }
}