.main__container {
    display: flex;
    flex-direction: column;
    color: white;
    width: 41.5%;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .main__container {
        width: 56.8%;
    }
}

@media screen and (max-width: 665px) {
    .main__container {
        width: 89%;
        padding: 0 16px;
    }
}