.card__saved-info {
    width: 182px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
    border-radius: 10px;
    position: absolute;
    right: 45px;
    top: 0;
    display: none;
}