.card__tooltip {
    position: absolute;
    top: 24px;
    right: 24px;
}

@media screen and (max-width: 1024px) {
    .card__tooltip {
        top: 8px;
        right: 8px;
    }
}

@media screen and (max-width: 550px) {
    .card__tooltip {
        top: 16px;
        right: 16px;
    }
}