.header__auth_main {
    margin: 22px 16px 0;
    padding-bottom: 21px;
    border-bottom: 3px solid;
}

@media screen and (min-width: 1024px) {
    .header__auth {
        margin: 30px 32px 0;
        padding-bottom: 26px;
      } 
    }