.saved-news__header {
    font-family: 'Roboto Slab';
    font-size: 40px;
    line-height: 1.15;
    color: #1A1B22;
    margin: 0 0 30px 104px;
}

@media screen and (max-width: 1024px) {
    .saved-news__header  {
        font-size: 30px;
        line-height: 1.13;
        margin: 0 0 16px 40px;
        width: 336px;
    }
}

@media screen and (max-width: 550px) {
    .saved-news__header {
        margin: 0 0 16px 16px;
        width: 287px;
    }
}