.saved-news__header {
    font-family: 'Roboto Slab';
    font-size: 30px;
    line-height: 1.13;
    color: #1A1B22;
    margin: 0 auto 16px;
}

@media screen and (min-width: 1024px) {
    .saved-news__header  {
        font-size: 40px;
        line-height: 1.15;
        margin: 0 0 30px 104px;
        width: 36.8%;
    }
}