@import url(./__header/main__header.css);
@import url(./__text/main__text.css);

.main {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0 416px;
}

@media screen and (max-width: 1024px) {
    .main {
        padding: 0 158px;
    }
}