.card__info {
    padding: 0px 24px 0px 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 20px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
    .card__info {
        height: 206px;
        padding: 16px;
        margin-top: 0;
        margin-bottom: 0;
    }
  }

@media screen and (max-width: 550px) {
    .card__info {
        height: 230px;
        padding: 16px 16px 8px 16px;
    }
}