.about__header {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    margin: 0;
    padding-bottom: 24px;
}

@media screen and (max-width: 1024px) {
    .about__header {
        font-size: 30px;
        line-height: 40px;
        padding-bottom: 16px;
    }
}

@media screen and (max-width: 550px) {
    .about__header {
        padding-left: 16px;
    }
}